body,
html,
.container,
.row {
  background: #111 !important;
}

h1 {
  color: whitesmoke;
}

label {
  color: gray;
}

.btn-block {
  background-color: orangered !important;
  border-color: orangered !important;
}
